@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000000ff;
    font-family: 'Fredoka One';
    opacity: 0;
    font-size: 50%;
    padding: 0;
    margin: 0;
}
canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
*:focus {
    outline: none;
}

h1 {
    font-size: 1.3em;
    line-height: 200%;
    color: #000;
    /*Use shadows to slowly build up the glow. The first shadow should be the colour of the text. Subsequent shadows are the colour you want the glow to be, all with no x or y offset and with increasing amounts of blur (the number of shadows you use depends on how big you want the glow to be).*/
    text-shadow: 0 0 8px #fff, 0 0 10px #b7b74d, 0 0 15px #b7b74d, 0 0 20px #b7b74d, 0 0 25px #b7b74d, 0 0 35px #b7b74d, 0 0 50px #b7b74d;
    visibility: hidden;
}

#up {
    height:15%;
    text-align: center;
    background: #0000;
}

#down {
    height:15%;
}

#msgcon {
    font-size: 1.7em;
    font-weight: bold;
    color: rgb(128, 128, 128);
    position: absolute;
    height: 65%;
    width: 100%;
    text-shadow:rgb(64, 64, 255) 0px 0px 15px;
}

#msgcon span {
    word-break: break-word;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    position: absolute;
    left:0;
    right:0;
    top:50%;
    margin:auto;
    /* transition: transform 2s; */
    transform:translate(0, -50%);
    user-select: text;
}

/*
#msgcon span:last-child {
    transform:translate(0, -50%) !important;
}

#msgcon span::nth-last-child(n+2) {
    transform:translate(-100%, -50%) !important;
}

.rightMsg {
    transform:translate(100%, -50%) !important;
}
*/

/***********************
    * TextBox      Styles *
    ***********************/

#inputform {
    overflow: hidden;
    position: relative;
}

#submitcon {
    position: absolute;
    width: 98%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#inputbox {
    box-sizing: content-box;
    height: 1.5em;
    opacity: 0.7;
    color: #b2b2b2;
    font-size: 0.6em;
    background-color: black;
    width:99%;
    color: rgb(228, 228, 228);
    padding-left: 0.15em;
    font-size: 0.62em;
    line-height: 2em;
    height: 2em;
    font-family: 'Fredoka One';
    margin-bottom: 0.5em;
    border:none;
    /* border-radius: 5px; */
}

#inputbox:focus {
    outline: none;
}

 ::-webkit-input-placeholder {
    color: #6c6c6c;
    font-style: italic;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #6c6c6c;
    font-style: italic;
}

#timestat {
    position: absolute;
    color: #b7b74d;
    line-height: 1px;
    font-size: 0.43em;
    opacity: 0.7;
    display:none;
}

#onlinestatcon {
    position: absolute;
    color: #b7b74d;
    line-height: 1px;
    font-size: 0.55em;
    right: 3em;
    opacity: 0.7;
    cursor: pointer;
    cursor: -webkit-grab;
    bottom: 4.2em;
}

.closecornerbox {
    color:red;
    font-size: .7em!important;
    position: absolute;
    top: 0;
    left: .2em;
    cursor: pointer;
    opacity: .7;
}

#panel {
    color: #c8c7c3;
    font-size: 0.5em;
}

#stats {
    opacity: 0;
    padding-top: 1em;
    color: #a7a6a2;
}

.cornerbox {
    position:absolute;
    padding:0.57em 0 0.5em 0.67em;
    background:#222;
    border-width: 1px;
    border-color: #404040;
    border-style: solid none none solid;
    border-radius: 10px 0 0 0;
    color:lightgray;
    width: 41vw;
    max-width: 300px;
    /* z-index: -1; */
    line-height: 0.9em;
    right:0;
    opacity: 0;
    top:0;
    transition: all cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms;
    transform: translate3d(100%, -100%, 0);
}

.cornerbox.active {
    opacity: 1;
    /* z-index: 99999; */
    transform: translate3d(0, 0, 0);
}

.cornerbutton {
    position:absolute;
    right:0;
    top:.02em;
    font-size: .9em!important;
    background-color: #b7b74d55;
    border-radius: 100%/100%;
    color: #b7b74d;
    padding:0.2em;
    margin: 0.3em;
    cursor: pointer;
    display: block;
    width:1em;
    height:1em;
    text-align: center;
}
.default {
    color: rgb(128, 128, 128);
}

.indy {
    color:#6060ff;
}

.tori {
    color:white;
}

.lacy {
    color:#00a0a0;
    text-shadow:-0.3ex -0.2ex 0.5ex #ff0080";
}

.greenie {
    color:#408040;
    text-shadow:0.0ex 0.0ex 0.4ex #0000ff";
}

.nimda {
    color:red;
    text-shadow:0.0ex 0.0ex 0.4ex orangered;
}

.john {
    color:brown;
}

.blue {
    color:blue;
    text-shadow:0.0ex 0.0ex 0.4ex darkblue;
}

.jack {
    color:green;
    text-shadow:0.0ex 0.0ex 0.4ex darkgreen;
}

.kat {
    color:deeppink;
}

.alex {
    color:#15AAD1;
    text-shadow:0.0ex 0.0ex 0.4ex darkblue;
}

#colors span {
    cursor: pointer;
    padding-right: 0.3em;
    opacity: 0.6;
}

#colors span:hover {
    opacity: 1;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
    animation: fadeIn 0.5s infinite alternate;
}
