html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'font114514', tahoma;
}

h1 {
    font-family: 'font95191', tahoma;
    font-size: 1.2em;
    line-height: 200%;
    color: #000;
    /*Use shadows to slowly build up the glow. The first shadow should be the colour of the text. Subsequent shadows are the colour you want the glow to be, all with no x or y offset and with increasing amounts of blur (the number of shadows you use depends on how big you want the glow to be).*/
    text-shadow: 0 0 10px #fff, 0 0 20px #00aa00, 0 0 30px #00aa00, 0 0 40px #00aa00, 0 0 50px #00aa00, 0 0 60px #00aa00, 0 0 70px #00aa00;
}

#up {
    height:15%;
    text-align: center;
    background: #000;
}

#down {
    height:15%;
}

#msgcon {
    font-family: 'font95191', tahoma;
    font-size: 1.6em;
    color: white;
    position: absolute;
    height: 65%;
    width: 100%;
    text-shadow:rgb(64, 64, 255) 0px 0px 15px;
}

#msgcon span {
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    position: absolute;
    left:0;
    right:0;
    top:50%;
    margin:auto;
    /* transition: transform 2s; */
    transform:translate(0, -50%);
}

/*
#msgcon span:last-child {
    transform:translate(0, -50%) !important;
}

#msgcon span::nth-last-child(n+2) {
    transform:translate(-100%, -50%) !important;
}

.rightMsg {
    transform:translate(100%, -50%) !important;
}
*/

/***********************
    * TextBox      Styles *
    ***********************/

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch {
    position: absolute;
    width: 95%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.flexsearch--input {
    box-sizing: content-box;
    height: 25px;
    border-color: #107710;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    color: #b2b2b2;
    font-family: 'font114514', tahoma;
    font-size: 0.6em;
    background-color: black;
    width:95%;
}

.flexsearch--submit {
    height: 29px;
    width: 7em;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 0;
    border: none;
    margin-top: 15px;
    margin-right: 3%;
    background-color: #009900;
    color: #000;
    font-family: 'font114514', tahoma;
    font-weight: bold;
    /* font-size: 17px; */
    /* line-height: 35px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.flexsearch--input:focus {
    outline: none;
}

.flexsearch--submit:hover {
    background-color: #00bb00;
    cursor: pointer;
}

 ::-webkit-input-placeholder {
    color: #b2b2b2;
    font-family: 'font91348';
    font-style: oblique;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b2b2b2;
}

#lstat {
    position: absolute;
    color: #107710;
    line-height: 1px;
    font-size: 0.43em;
    font-family: 'font91348';
    font-style: oblique;
}

#rstat {
    position: absolute;
    color: #107710;
    line-height: 1px;
    font-size: 0.43em;
    font-style: oblique;
    font-family: 'font91348';
    right: 3%;
}

#links {
    color: #107710;
    font-family: 'font95193', tahoma;
    font-size: 0.5em;
    text-align: right;
    bottom: 0;
    position: relative;
}

.flexsearch {
    max-width: 87%;
}

#stats {
    padding: 0.1em 0.1em 0;
    font-family: 'font95193';
}

/* Theme */

#links {
    color: #abab2d;
}

.flexsearch--submit {
    background-color: #abab2d;
}

.flexsearch--submit:hover {
    background-color: #abab2d;
}

.flexsearch--input {
    border-color: #abab2d;
}

#lstat {
    color: #abab2d;
}

#rstat {
    color: #abab2d;
}

h1 {
    text-shadow: 0 0 8px #fff, 0 0 10px #abab2d, 0 0 15px #abab2d, 0 0 20px #abab2d, 0 0 25px #abab2d, 0 0 35px #abab2d, 0 0 50px #abab2d;
}